@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 60px;
  
}
.footer {
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid #d0d0d0;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  z-index: 100;
}

.heading p {
  color: #828282;
}

.goals {
  display: flex;
  flex-direction:column ;
}

.goal {
  background-color: #ededed;
  text-align: left;
  margin: 10px 0px ;
  padding: 20px 0px  10px;
  position: relative;
  border-radius: 10px;
}
.goal .goal-text{
  padding: 0px 15px;
}

.goal .timezone{
  display: flex;
  /* flex-direction:column ; */
}

.goal .timezone .time{
  margin-left: 5px;
}

.goal .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
  padding: 6px 8px;
  background: red;
  border-radius: 5px;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.heading span{
  color: #00986d ;
}
.btn {
  padding: 10px 20px;
  border: 0px solid #000;
  border-radius: 5px;
  background: #00986d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(1.02);

}
.btn-red{
  background-color: #ba0000;
}
.form input{
  border: 1px solid #00986d;
  transition: 0.05s ease;
}
/* .form  input{
  border: 1px solid #00986d;
  transition: 0.1s ease;
} */
.form input:focus{
  outline:2px solid #00986d;
}


.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

img{
  margin-top: -40px;
  z-index: -1;
  max-width: 400px;
}
.images{
  max-width: 270px;
}
.icon-container{
  position: relative;
}

.icon{
  color: white;
  position: fixed;
  background-color: #00986d;
  padding: 20px 23px 10px 23px;
  border-radius: 100px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);

}
.icon:hover{
  transform: scale(1.05);
}

.menu-container {
  position: relative;
}

.menu {
  z-index: 100;
  background: #fff;
  border-radius: 8px;
  position:absolute;
  top: 60px;
  right: 0px;
  padding: 0 30px 0 15px;
  min-width: 250px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  
  border-bottom: 1px solid #dddddd;
}

.menu li .anchor {
  
  text-decoration: none;
  color: #333333;
  padding: 15px 30px;
  display: block;
}

.menu-trigger {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  vertical-align: middle;
  transition:  0.4s ease;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.profile{
  border-bottom: 1px solid #d0d0d0;
  text-align: left;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .menu{
    position:fixed;
    right: 30px;
    
  }
  .container img{
  margin-top: -40px;
    max-width: 200px;
  }
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
  .goal .timezone{
    display: flex;
    flex-direction:column ;
    margin-left: 0px;
  }
}